.book-details-container {
  margin: 30px 30px;
  padding: 80px 0px;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.book-details-content {
  margin-top: 20px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 6px;
}
.subtitle {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.author {
  font-size: 16px;
  font-style: italic;
  color: gray;
  margin-top: 0;
}

.year {
  font-size: 14px;
}

.price {
  font-weight: 600;
  font-size: 24px;
}

.add-to-cart {
  border: none;
  padding: 10px 30px;
  background-color: rgb(235, 230, 230);
  border-radius: 6px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.hr-line {
  margin: 20px 0px;
}

.product-desc-title {
  font-size: 24px;
  font-weight: 600;
}

.product-det-title {
  font-size: 24px;
  font-weight: 600;
}

table {
  width: 40%;
}

th {
  text-align: left;
}

td {
  padding-left: 10px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-controller-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.quantity-controller-icon {
  color: #616e7c;
  width: 16px;
  height: 16px;
}

.quantity {
  color: #616e7c;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}
.image{
  height: 300px;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .book-details-container {
    margin: 30px 80px;
  }
  .book-details {
    flex-direction: row;
  }
  .image{
    height: 355px;
  }
}
