.link-item {
  text-decoration: none;
  color: #000000;
}
.book-item {
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 30px 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.book-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-image {
  margin: 0;
}

.book-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.book-subtitle {
  margin: 0;
  font-size: 14px;
  padding: 2px;
}
.book-price {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  padding: 2px;
}
