.checkout-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.checkout-content-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  background-color: #fff6df;
  padding: 30px 30px;
  height: 100vh;
}

.checkout-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: none;
}

.form-and-summary {
  display: flex;
  flex-direction: row;
  justify-content: start;
}


.checkout-heading {
  text-align: center;
}

.summary-container {
  width: 50%;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
}

.summary-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 90%;
  background-color: #ffffff;
}

.summary-item-image {
  width: 100px;
  height: 100px;
}

.summary-item-title {
  display: none;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 10px;
}

.summary-item-price {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

.summary-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f05b;
  border-radius: 6px;
  padding: 0px 20px;
  margin-top: 20px;
  
}

.summary-total-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.summary-total-price {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width:768px){
  .checkout-heading{
    font-size: 38px;
  }
  .summary-item-container{
    justify-content: flex-start;
  }
  .summary-item-image{
    width: 150px;
    height: 150px;
  }
  .summary-item-title{
    display: inline;
    text-align: left;
    width: 280px;
  }
  .summary-item-price{
    width: 90px;
    text-align: right;
  }
  .summary-total-container{
    width: 87%;
  }
}