.books-container {
  margin: 30px 80px;
}

.books-heading {
  font-size: 38px;
  font-weight: 600;
}

.books-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
