.books-container {
  margin: 50px 30px;
  padding-top: 60px;
}

.books-heading {
  font-size: 38px;
  font-weight: 700;
  color: rgb(44, 43, 43);
}

.books-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .books-container {
    margin: 30px 80px;
  }
  .books-list-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
