.navbar-container {
  background-color: rgb(255, 230, 0);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header-left-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 38px;
  height: 38px;
  margin-right: 4px;
}

.header-name {
  margin-left: 5px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Caveat", serif;
  color: blueviolet;
}

.header-right-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-item {
  text-decoration: none;
  color: #000000;
}
.icon {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.icon-name {
  display: none;
}

.cart-count {
  background-color: rgb(205, 245, 245);
  border-radius: 50%;
  padding: 0px 4px;
  font-weight: 600;
  color: rgb(12, 126, 179);
  margin-right: 2px;
}

.separation-line {
  display: flex;
  flex-direction: column;
  height: 20px;
  margin: 0px 10px;
  border-color: #000000;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .header-logo{
    width: 60px;
    height: 60px;
  }
  .header-name{
    font-size: 38px;
  }
  .icon-name {
    display: inline;
    font-size: 20px;
    font-family: "Bree Serif", serif;
  }
}
