.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background-color: rgb(238, 234, 234);
  margin: 20px;
  padding: 4px;
  border-radius: 6px;
}
.cart-book-title{
  margin: 0;
  font-size: 15px;
  font-weight: bold;

}
.cart-book-image {
  width: 24%;
  max-width: 200px;
}
.cart-book-price{
  font-weight: 600;
}

.cart-book-subtitle {
  display: none;
}

@media screen and (min-width: 768px) {
  .cart-book-subtitle {
    display: inline;
  }
}

.product-info-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.product-actions-container {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.delete-button {
  background-color: #630202;
  height: 34px;
  width: 34px;
  border-radius: 8px;
  border-width: 0px;
  padding: 5px;
  transition-duration: 500ms;
  margin-right: 10px;
}

.delete-button:hover {
  background-color: #0f0f11;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-icon {
  font-size: 14px;
  color: white;
}
.cart-quantity-container {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.quantity-controller-button {
  padding: 0;
}

.cart-quantity {
  color: #52606d;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 600;
  margin: 8px;
  line-height: 1.3;
}

@media screen and (min-width:768px){
  .cart-book-title{
    font-size: 24px;
  }
  .cart-book-image{
    height: 200px;
  }
  .cart-book-price{
    margin-top: 0;
    font-size: 24px;
  }
  .delete-button{
    height: 45px;
    width: 45px;
    margin-right: 20px;
  }
  .delete-icon{
    font-size: 20px;
  }
  .cart-quantity-container{
    align-items: center;
    align-self: center;
  }
}